@import "tailwindcss";

:root {
  --logo-heading-2: #495560;
  --footer-bg: #13253f;
  --footer-bg-dark: #0f1e32;
  --color-secondary: #9333ea;
  --color-background: #f5f8fa;
  --color-white: #f5f8fa;
  --color-text: #1c2b38;
  --color-text-dark: #28302f;
  --color-text-light-gray: #c7cad1;
  --color-text-gray: #495560;
  --color-yellow: #ffda32;
  --color-orange: #ffa432;
  --color-green-light: #7bbcb0;
  --border-color: #efefef;

  --secondary-btn-color: #1e2e3b;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;

  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;

  --heading-text-font-size: 30px;

  --btn-border-radius: 4px;

  --heading-text-font: Kanit; /* Logo text */
  --sub-heading-text-font: NotoSans; /* information */
  --information-text-font: Padauk; /* Header Links*/
  --header-links-text-font: RobotoSlab; /* title */

  --box-shadow-default: 0 2px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Logo */
@font-face {
  font-family: "Kanit";
  src: url("../../../public/assets/fonts/Kanit/Kanit-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("../../../public/assets/fonts/Noto_Sans/static/NotoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Padauk";
  src: url("../../../public/assets/fonts/Padauk/Padauk-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("../../../public/assets/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab-m";
  src: url("../../../public/assets/fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--color-background);

  color: var(--color-text);
  font-size: var(--font-size-md);
  font-family: var(--information-text-font), sans-serif;
}

.container {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: RobotoSlab-m;
}

.tourguide-title-text {
  font-size: 30px;
}
.tourguide-info-text {
  font-size: 16px;
  color: var(--color-text-gray);
}

.primary-btn {
  width: 120px;
  align-items: center;
  margin-left: 20px;
  text-align: center;
  border-radius: var(--btn-border-radius);
  color: var(--color-text);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.5s;
  background-color: var(--color-yellow);
}
.primary-btn:hover {
  background-color: var(--color-orange);
}

.banner-btn {
  width: 200px;
  align-items: center;
  margin-left: 20px;
  text-align: center;
  border-radius: 50px;
  color: var(--color-text);
  padding: 15px 0px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s;
  background-color: var(--color-yellow);
  box-shadow: #ffd932ab 0px 18px 50px -10px;
}

.search-btn {
  width: 120px;
  height: 50px;
  align-items: center;
  margin-left: 0px;
  justify-content: center;
  display: flex;
  text-align: center;
  text-align: center;
  border-radius: 30px;
  color: var(--color-text);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.5s;
  background-color: var(--color-yellow);
}
.search-btn:hover {
  background-color: var(--color-orange);
}

.btn-secondary {
  background: var(--secondary-btn-color);
  color: var(--color-white);
  /* padding: 10px 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 150px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 16px;
}


