.header-wrapper {
  margin: 0 auto;
  height: 90px;
  width: 100%;
  padding: 0 40px;
  z-index: 999;
  display: flex;
  position: fixed;
  transition: all 0.3s;
}

.header-content {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  font-family: var(--heading-text-font);
}
.header-nav-wrapper {
}

.header-nav {
  width: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-nav-links ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header-nav-links li {
  line-height: 2px;
  font-size: 15px;
  font-weight: 600;
  font-family: var( --information-font-light);
}
.home-top {
  color: var(--color-white) !important;
}

.fixed-top-header {
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
}

.header-burgermenu {
  align-items: center;
  text-align: center;
  position: relative;
}
.burger-menu {
  cursor: pointer;
  color: var(--color-yellow);
  font-size: 25px;
}
.burger-menu-nav {
  position: absolute;
  background-color: var(--color-text);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  top: 45px;
  /* left: 0; */
  right: -20px;
  margin: 0 auto;
  padding: 10px;
}
.burger-menu-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.burger-menu-nav li {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

/* Footer */

/* Banner */

.home-hero-banner-section-wrapper {
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
}

.hero-banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.hero-background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  z-index: -1;
}

.hero-background-video-gradient {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}

.hero-banner-information {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  z-index: 1;
}

.hero-banner-title h1 {
  color: var(--color-text-dark);
  font-size: var(--heading-font-size);
  text-shadow: 0px 5px 13px 0px #ffffff66;
  font-family: Volkhov;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 768px) {
  .hero-banner-information {
    padding: 0 10px;
  }
  .hero-banner-title h1 {
    font-size: 30px;
  }
  .hero-banner-description p {
    font-size: 16px;
  }
  .hero-banner-play {
    margin-top: 0px;
  }
  .hero-banner-play-info {
    font-size: 14px;
  }

  .hero-banner-description {
    width: 100% !important;
    padding: 10px;
    font-weight: 300;
  }
}

.hero-banner-description {
  width: 600px;
  font-weight: 300;
  /* box-shadow: 0px 1px 20px 0px #FFFFFF; */
}

.hero-banner-description p {
  margin-top: 10px;
  color: var(--color-text-dark);
  font-family: var(--information-font);
  font-weight: 600;
  font-size: var(--information-font-size);
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
}
.hero-banner-play {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner-play-btn {
  color: var(--color-green-light);
  background-color: #ececec;
  box-shadow: 0px 1px 20px 0px #ffffff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 3;
  margin: 20px;
}

.hero-banner-play-btn:hover::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f0f0;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background-color: #ffffff97;

  border-radius: 50%;
}

.hero-banner-play-btn:hover::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background-color: #ffffff97;

  border-radius: 50%;
  opacity: 0.4;
}

.hero-banner-play-info {
  margin: 20px;
  font-family: var(--information-text-font);
  color: var(--color-text-dark);
  font-weight: bolder;
}

.hero-banner-searchbox {
  position: absolute;
  width: 100%;
  max-width: 1000px;
  height: 90px;
  background-color: var(--color-white);
  margin: 0 auto;
  padding: 22px;
  display: flex;
  /* justify-content: center; */
  bottom: -45px;
  border-radius: 10px;
  left: 0;
  right: 0;
  box-shadow: var(--search-box-box-shadow);
}
.searchbox-content {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  height: 100%;
}

.hero-searchbox-item-1 {
  width: 30%;
}

.hero-searchbox-item-1 {
  width: 30%;
}
.searchbox-items-icon {
  color: var(--color-green-light);
  justify-content: start;
  margin-top: 3px;
  font-size: var(--icon-font-size);
}

.searchbox-items-info {
  margin: 0 5px;
  text-transform: capitalize;
}

.searchbox-items-info p {
  font-size: 15px;
  font-family: var(--information-font-bold);
  margin: 0 5px;

  color: var(--color-green-light);
}
.hero-searchbox-item-1 {
  display: flex;
  text-align: start;
}
.searchbox-items-info input {
  padding: 5px;
  width: auto;
  font-size: 14px;
  font-style: italic;
  font-family: var(--information-font-light);
  color: var(--color-text-light-gray);
  border-radius: 4px;
}

.searchbox-searchbar {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* gallery */

.home-gallery-section-wrapper {
  margin: 50px 0;
}
.gallery-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  margin-bottom: 30px;
}
.gallery-cards-wrapper {
  padding: 0 0px;
}
.searchbox-items-info input::placeholder {
  font-style: italic;
  font-size: 14px;
  font-family: var(--information-font-light);
    color: var(--color-text-light-gray);
}

@media (max-width: 1000px) {
  .searchbox-items-info {
    font-size: 12px;
  }

  .searchbox-items-info input::placeholder {
    font-size: 12px;
  }
  .searchbox-searchbar {
    transform: scale(0.7);
  }
}

@media (max-width: 760px) {
  .gallery-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
  }
  .gallery-title-heading {
    margin-bottom: 30px;
  }
  .gallery-cards-wrapper {
    padding: 0 10px;
  }
  .searchbox-items-info input {
    padding: 5px;
    width: auto;
    border-radius: 4px;
  }

  .searchbox-searchbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 760px) {
  .searchbox-items-info p,
  .searchbox-items-info input {
    font-size: 12px;
  }

  .hero-banner-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 150px;
    height: 90%;
  }
  .searchbox-items-info {
    width: auto;
  }

  .hero-banner-searchbox {
    position: relative;

    background-color: var(--color-background);
    color: var(--color-text);
    width: 80%;

    padding: 10px;

    border-radius: 8px;

    box-shadow: rgba(123, 188, 176, 0.22) 0px 14px 28px,
      rgba(123, 188, 176, 0.22) 0px 10px 10px;
  }

  .searchbox-content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
  }

  .searchbox-searchbar {
    transform: scale(0.7);
  }
}

.gallery-card {
  height: 320px;
  width: 270px;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
}

/* Trending-tour */

.home-trending-tour-section-wrapper {
  position: relative;
  width: 100%;
  margin: 50px 0;
}

.trending-tour-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 1000px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/balloon.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.trending-tour-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: url("../images/balloon.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
}

.trending-tour-gradient-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, #9233eaa9, #7bbcb0c9);
  z-index: 1;
  /* filter: blur(1px); */
}

.trending-tour-swiper-slide {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending-tour-swiper-slide-image {
  position: relative;
  height: 400px;
  width: 400px;
}

.trending-tour-swiper-slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: url("../images/curve.svg");
  mask-image: url("../images/curve.svg");
  mask-size: cover;
}

.trending-tour-swiper-slide-image::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/curve.svg");
  top: 10px;
  transform: scale(1.2);
  transform: rotate(14deg);
  left: -20px;
  filter: invert(75%) sepia(90%) saturate(60%) hue-rotate(190deg) brightness(1);
  z-index: -2;
}

.trending-tour-swiper-slide-image::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/curve.svg");
  top: 0px;
  transform: rotate(34deg);
  left: 0px;
  /* filter: contrast(0); */
  filter: invert(85%) sepia(50%) saturate(85%) hue-rotate(35deg) brightness(1);
  z-index: -1;
}

.trending-tour-swiper-slide-information {
  display: flex;
  width: 50%;
  flex-direction: column;
  position: relative;
  margin: 30px;
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.trending-tour-swiper-slide-information-title h1 {
  font-size: 35px;
  color: var(--color-white);
  text-shadow: -3px 2px 9px rgba(255, 255, 255, 0.77);
}
.trending-tour-swiper-slide-information-title::before {
  content: "Trending Now";
  text-transform: uppercase;
  font-size: 12px;
  color: black;
  background-color: rgb(153, 255, 255);
  position: absolute;
  top: 0;
  left: 30px;
  width: auto;
  padding: 5px 10px;
  border-radius: 20px;
}
.trending-tour-swiper-slide-information-title p {
  font-size: 14px;
  align-items: center;

  color: var(--color-white);
  text-shadow: -3px 2px 9px rgba(255, 255, 255, 0.77);
}

.trending-tour-swiper-slide-information-title-subinfo {
  font-size: 14px;
  align-items: center;

  color: var(--color-white);
  text-shadow: -3px 2px 9px rgba(255, 255, 255, 0.77);
}

.trending-tour-borddr-right {
  border-right: 1px solid var(--border-color);
  padding-right: 5px;
  margin: 5px;
}

.trending-tour-swiper-slide-information-links {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.trending-tour-swiper-slide-information-links-btn {
  margin-right: 20px;
}

.trending-tour-swiper-slide-information-links-elements {
  cursor: pointer;
  color: var(--color-white) !important;
  margin: 0 5px;
  padding: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.411);
}

.whitelikebtn {
  color: #ffffff;

  filter: brightness(20);
}

@media (max-width: 760px) {
  .trending-tour-swiper-slide {
    display: flex;
    flex-direction: column;
  }

  .trending-tour-swiper-slide-information {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    margin: 0 30px;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
    text-align: start;
  }

  .trending-tour-swiper-slide-information-title::before {
    top: -25px;
    font-size: 10px;
  }
  .trending-tour-wrapper {
    padding: 50px 0;
  }
}

/* Popular cities */

.home-searchBanner-section-wrapper {
  position: relative;
  margin: 50px 0;
}

.popularcity-wrapper {
  width: 100%;
  height: auto;
}

.popularcity {
  position: relative;
  display: flex;
  flex-direction: column;
}
.popularcity-title {
  display: flex;
  margin: 0 20%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.popularcity-title h2 {
  position: relative;
  font-size: var(--subheading-font-size) !important;
}
.popularcity-title p {
  margin: 10px 0;
  font-family: var(--information-font);
  color: var(--color-text-light-gray);
  position: relative;
  font-size: var(--information-font-size);
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
}

.popularcity-banner-image {
  position: relative;
  height: 695px !important;
  padding: 0;
  border-radius: 2px;
  z-index: -1;
}


.popularcity-banner-image img {
  position: absolute;
  height: 500px !important;
  /* padding: 0 30px; */
  top: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
  z-index: -1;
}
.popularcity-banner-city-info {
  display: flex;
  box-shadow: 0px 4px 20px 0px #0000001F;
      max-width: 94%;
      /* margin: 0 30px; */
      margin: 0 auto;
      position: absolute;
      /* transform: translateY(-80px); */
      bottom: 80px;
      z-index: 1;
      background: var(--color-background);
      flex-direction: row;
      /* position: relative; */
      padding: 49px 50px 60px;
      border-radius: 4px;
      height: auto;
      left: 0;
      right: 0;
      justify-content: space-between;
}


@media (max-width: 768px) {
  .home-searchBanner-section-wrapper {
    position: relative;
    margin: 100px 0;
  }

  .popularcity-title {
    display: flex;
    margin: 0 30px;
    /* width: 50%;x  */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .popularcity-banner-city-info {
    padding: 20px;
  }

  .popularcity-banner-city-info {
    flex-direction: column;
  }

  .tag-items-wrapper {
    flex-direction: column;
  }

  .popularcity-banner-city-info-content-text {
    width: 100%;
  }

  .popularcity-banner-city-info-content-text-heading h2 {
    font-size: 35px;
  }

  .popularcity-banner-city-info-content-text-heading p {
    color: var(--color-text-gray);
    margin-top: 20px;
    font-size: 14px;
  }

  .city-name-menu {
    display: block;
  }

  .popularcity-filter-btns {
    display: none;
  }

  .popular-btns {
    display: none !important;
  }
}

.popularcity-filter-btns {
 
  border-radius: 30px;
  padding: 5px 32px 5px 32px;
  gap: 10px;
  height: auto;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  scrollbar-width: 0;
  margin: 30px 0;
}


.popular-btns {
  width: 130px;
  height: 44px;
  width: 130px;
  padding: 5px 32px 5px 32px;
  font-size: 14px;
  cursor: pointer;
  font-family: var(--information-font);
  gap: 10px;

  color: var( --color-text-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  border: 1px solid var(--color-green-light);
}

.popular-btns:hover,
.popular-btns.active {
  color: var(--color-white);
  border: 1px solid white;
  background: var(--color-green-light);
}

.popularcity-banner-city-info-content-tags {
  width: auto;
  height: 30px;
  color: var(--color-green-light);
  padding: 10px;
  text-align: center;
  display: flex;

  justify-content: center;
}




.city-name-menu {
  display: none;
}

.popularcity-banner-city-info-content {
  margin: auto;
  width: 100%;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  display: flex;
}

.popularcity-banner-city-info-content-text {
  width: 40%;
}

.popularcity-banner-city-info-content-text-heading h2 {
  font-size: 64px;
}

.popularcity-banner-city-info-content-text-heading p {
  color: var(--color-text-light-gray);
  margin-top: 20px;
  font-family: var(--information-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0%;

}

.tag-items-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
  display: none;
}

.tag-item {
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  margin: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

/* featured-destinations */

.home-featured-destinations-wrapper {
  position: relative;
  width: 100%;
  margin: 50px 0;
}

.destinations-title-heading {
  width: 100%;
  padding: 0 ;
  margin: 0 0px;
}

.home-featured-destinations-swiper-wrapper {
  width: 100%;
  padding: 0px 10px;
}

.featured-destinations-swiper-wrapper {
  width: 100%;
}

.destination-slider-wrapp {
  margin: 50px 0;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  z-index: 1;
  display: flex !important;
  justify-content: start;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}
.featured-destinations-swiper-slide {
  width: 270px !important;
  /* max-width: 22.5%; */
  height: 405px;
  color: var(--color-text);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 8px;
  margin: 0 15px 10px;
  transform: scale(0.9);
  box-shadow: var(--box-shadow-default);
}

.featured-destinations-slider-image {
  padding: 10px;
}

.featured-destinations-slider-info {
  text-align: start;
  padding: 10px;
  align-items: center;
}

.featured-destinations-slider-info h3{
  font-family: var( --heading-font-light);
  font-size: var( --information-font-size);

}
.featured-destinations-slider-footer {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-top: 1px solid #E8EAEB;
}

.featured-destinations-slider-footer-left p {
  align-items: center;
  text-align: start;
  color: var(--color-text-light-gray2);
  justify-content: start;
  font-size: 12px;
  display: flex;
}
.review-stars {
  margin-top: 15px;
  font-size: 20px !important;
  color: var(--color-text-light-gray) !important;
}

.review-stars span {
  display: inline-flex;
  color: var(--color-orange) !important;
}
.featured-destinations-slider-info p {
  align-items: center;
  text-align: start;
  justify-content: start;
  display: flex;
  font-size: 14px;
  font-family: var(--information-font);
  color: var( --color-text-gray);

}
.featured-destinations-slider-info p span {
  display: inline-flex;
  margin-right: 10px;
  font-size: 16px;

  color: var( --color-text-gray);
}

.featured-destinations-slider-footer-right h3 {
  color: var(--color-green-light);
  font-family: var( --heading-font);
  font-size: 20px;
  line-height: 5px;
  margin-top: 10px;
 line-height: 26px;
 letter-spacing: 0%;
 text-align: right;

}

.featured-destinations-slider-footer-right p {
  margin-top: 5px;
  color: var(--color-text-light-gray2);
  line-height: 100%;
  font-size: 12px;
  letter-spacing: 0;
}

@media (max-width: 1024px) {
  .home-featured-destinations-swiper-wrapper {
    width: 100%;
    padding: 0px 20px;
  }

  .featured-destinations-swiper-slide {
    width: 30%;
    max-width: 30%;
    height: auto;
    color: var(--color-text);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 8px;
    margin: 0 12px 10px;
    transform: scale(0.9);
    box-shadow: var(--box-shadow-default);
  }

  .destinations-title-heading {
    width: 60%;
    margin-left: 50px;
    max-width: 100%;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .home-featured-destinations-swiper-wrapper {
    width: 100%;
    padding: 0px 20px;
  }

  .featured-destinations-swiper-slide {
    width: 80%;
    max-width: 95%;
    height: auto;
    color: var(--color-text);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 8px;
    margin: 0 15px 10px;
    transform: scale(0.9);
    box-shadow: var(--box-shadow-default);
  }

  .destinations-title-heading {
    width: 90%;
    max-width: 100%;
    padding: 20px;
    margin: 0 10px;
  }
}

/* trending - city  */

.home-trending-city-section-wrapper {
  margin: 50px 0;
  position: relative;
}

.trending-city-wrapper {
  width: 100%;
  height: 100%;
}

.trending-city-banner-overlay-blur {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 134px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* background-color: #0f1e3250; */
  backdrop-filter: blur(12px);
  background: linear-gradient(103.57deg, rgba(72, 5, 125, 0.1) -1.03%, rgba(42, 221, 231, 0.1) 100%);


  filter: blur(2px);
}



.trending-city-banner-video {
  position: relative;
  width: 100%;
  height: 720px;
}

.trending-city-banner-video img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.trending-city-banner-video::after {
  content: "";
  position: absolute;
  display: block;
  /* background-color: #ffffffa5; */
  width: 100vw;
  max-width: 100%;
  height: 100px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0px;
  filter: blur(12px);
  background: linear-gradient(103.57deg, rgba(72, 5, 125, 0.1) -1.03%, rgba(42, 221, 231, 0.1) 100%);

  z-index: 1;
}
.btn-bg {
  cursor: pointer;
  backdrop-filter: blur(15px);
  border-radius: 30px;
  transform: scale(0.8);
  z-index: 0;
}

.btn-bg.hero-banner-play-btn{
  z-index: 1;
}

.left-middle-btns {
  position: absolute;
  left: 5%;
  bottom: 25%;
  transform: scale(1.2);
}
.trending-city-banner-title {
  display: flex;
  background-color: transparent;
  z-index: 2;
  padding-right: 15%;
  padding-bottom: 20px;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 110px;
  width: 100%;
}

.trending-city-heading {
  position: relative;
  z-index: 1;
}
.trending-city-heading h2 {
  /* font-size: 35px !important; */
  margin: 0 20px;
  text-transform: capitalize;
  text-shadow: #ffffff 0px 18px 50px -10px;
}

/* latest blogs */
.home-latest-blogs-section-wrapper {
  margin: 50px 0 100px 0;
}
.home-latest-blogs-wrapper {
  position: relative;
  width: 100%;
  padding: 0;
}
.latest-blogs {
  width: 100%;
  margin: 20px 0;
  padding: 0 0px;
  position: relative;
  height: auto;
  
}

.blogs-card {
  width: 270px;
  height:315px;
  border-radius:3px;
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: 0px 8px 34px 0px #0000000F;

}

.blog-card-author-info {
  padding: 10px 20px;
}

.blog-card-author-info-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.blog-card-author-info-author-name p {
  font-size: var( --information-font-size-sm);
  color: var(--color-text-light-gray);
  font-weight: bold;
}
.blog-card-author-info-author-image {
  margin-right: 5px;
}
.blog-card-description {
  margin: 10px 0;
  font-size: 18px;
  color: var(--color-text-dark);
  font-family: var( --heading-font-light);
}

/* footer */

.footer-wrapper {
  background-color: var(--footer-bg);
  color: var(--color-white);
  padding: 20px 10px 0;
}

.footer-title p {
  margin: 20px 0;
  font-size: 18px;
}

.footer-title h1{

  font-family: var( --heading-text-font);
  font-size: 26px;
  color: var(--color-white);

}
.footer-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

.footer-title-currency-dropdown {
  width: 100%;
  display: flex;
  color: #707982;
  justify-content: center;
  border: 1px solid var(--color-text-gray);
  padding: 2px 1px;
  align-items: center;
  text-align: center;
}
.footer-title-currency-dropdown option {
  font-size: 12px;
  color: var(--color-white);
  background-color: var(--color-text-dark);
}
.footer-links {
  margin: 10px 0;
}

.footer-links li {
  font-size: var(--information-text-font);
  color: var(--color-text-light-gray);
}

.footer-2 {
  width: 100%;
  background-color: var(--footer-bg-dark);
  display: flex;
  justify-content: space-between;
}

.footer-2-right-info {
  display: flex;
  justify-content: space-between;
}
